<%
if (user == null) {
%>
  <a class="nav-item nav-link active" href="/login">Login</a>
<%
} else {
%>
  <a class="nav-item nav-link">
    <%=user.type == "usuario" ? user.usuario_nome : user.escola_cnpj %>
  </a>
  <a class="nav-item nav-link">
    <button type="button" class="btn btn-secondary btn-sm" onclick=logout()>Logout</button>
  </a>
<%}%>

<script>
  function logout() {
    try{
        $.ajax(
            {type: "POST",
            url: window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "api/logout"
            }
        ).then(function(data) {
            window.location.href = "/survey";
        });
    } catch(e) {
        alert(e)
    }
  }
</script>
