<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <title>MeInclua</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand h1 mb-0" href="/"><img alt="Brand" src="imgs/logo.png" width="170"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link " href="/">Busca</a>
        <a class="nav-item nav-link " href="/parceiros">Parceiros</a>
        <a class="nav-item nav-link " href="/sobre">Sobre</a>
        <a class="nav-item nav-link active " href="/ajuda">Ajuda</a>
        <a class="nav-item nav-link" href="/login">Login</a>

      </div>
     </div>

  </nav>


  <div class="container">
      </br>
      <h1 class="display-4">Entre em contato conosco</h1>
      </br></br>
      <div class="row">
        <div class="col-sm">
            <!-- contato -->
            <form onsubmit="return EnviaEmail(event)">
              <div class="form-group">
                <label for="from">E-mail</label>
                <input type="email" class="form-control" id="from" aria-describedby="emailHelp" placeholder="Digite seu email">
                <small id="emailHelp" class="form-text text-muted">Não compartilharemos seu email com ninguém</small>
              </div>
              <div class="form-group">
                <label for="text">Mensagem</label>
                <textarea class="form-control" id="text" rows="3" placeholder="Escreva aqui sua mensagem..."></textarea>
              </div>
              <button type="submit"  class="btn btn-primary">Enviar</button>
            </form>

        </div>
    </div>
    </br>
    </br>
    <h1 class="display-5">Saiba também...</h1>

    <div class="row">

        <div class="col-sm">

          <div class="card" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="/imgs/8511886056_6eed639efc_m.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Vídeo institucional</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="https://www.youtube.com/watch?v=K1rW8eUFeN4" class="btn btn-primary">Saiba mais</a>
            </div>
          </div>

        </div>


        <div class="col-sm">

          <div class="card" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="/imgs/2948334702_f5fa7ca4d3_m.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Tutorial</h5>
              <p class="card-text">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado</p>
              <a href="https://www.youtube.com/watch?v=K1rW8eUFeN4" class="btn btn-primary">Saiba mais</a>
            </div>
          </div>

        </div>


        <div class="col-sm">

          <div class="card" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="/imgs/5326260786_00d2493912_m.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Leis e Direitos</h5>
              <p class="card-text">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado</p>
              <a href="https://www.youtube.com/watch?v=K1rW8eUFeN4" class="btn btn-primary">Saiba mais</a>
            </div>
          </div>

        </div>

    </div>

  </div>


    <footer>
        <center><p>&copy; My App Leandro Oliveira 2018</p></center>
    </footer>

    <script>
        function EnviaEmail(event) {
            event.stopPropagation();

            var _data = {
                from: $("#from").val(),
                text: $("#text").val(),
            };

            try{
                $.ajax(
                    {type: "POST",
                    url: window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "api/contact",
                    data: _data
                    }
                ).then(function(data) {
                    if (data.status == "ok")
                        alert("Recebemos seu contato.");
                });
            } catch(e) {
                alert(e)
            }
            return false;
        }
    </script>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
