<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/esqueceu_senha.css">
  <title>MeInclua</title>
  </head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand h1 mb-0" href="/"><img alt="Brand" src="css/Logo.png" width="170"/><label class= "labelmeinclua">Rede colaborativa</label></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Busca<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/contato">Contato</a>
        <a class="nav-item nav-link" href="/parceiros">Parceiros</a>
        <a class="nav-item nav-link" href="/sobre">Sobre</a>
        <a class="nav-item nav-link " href="/termos_condicoes">Termos e condições</a>
        <a class="nav-item nav-link " href="/central_de_ajuda">Central de Ajuda</a>
        <a class="navbar-brand h1 mb-0 nav-item nav-link active" href="/cadastrar_editar">Cadastrar/Editar</a>
        <pre>
        </pre>
        <pre>
        </pre>
        <pre>
        </pre>
        <p class="navbar-text navbar-right"><a href="/login" class="navbar-link">Login</a></p>
      </div>
    </div>
  </nav>
  <div class="bg">
      <div class="container1">
       <h1>Cadastrar/Editar</h1>
   </div>
       <br></br>
       <div class="container">
         <form action="/action_page.php">
             <br></br>
               <h3>Se você é uma escola e quer contribuir com a nossa rede.</h3>
               <h3>Preencha os campos abaixo e execute a operação desejada.</h3>

            <br></br>
            <label for="email"><b>E-mail</b></label>
            <center><input type="text" placeholder="E-mail:meinclua@contato.com.br" name="email" required><center>
            <label for="CNPJ"><b>CNPJ</b></label>
            <center><input type="password" placeholder="CNPJ: 00.000.000/0000-00" name="CNPJ" required><center>
            <label for="senha"><b>Senha</b></label>
            <center><input type="password" placeholder="xxxxxxxxxxxxx" name="psw" required></center>
            <br></br>
            <span class="psw"><a href="/esqueceu_senha">Esqueceu a senha?</a></span>
            <br></br>
            <button type="submit" onclick="myFunction()" class="cancelbtn">Cadastrar</button>
            <button type="submit" onclick="myFunction1()" class="cancelbtn">Editar</button>

            <script>
            function myFunction() {
                alert("Obrigado por contribuir com a nossa rede!!!");
            }
            </script>

            <script>
            function myFunction1() {
                alert("Mantenha seus dados sempre atualizados!!!");
            }
            </script>

        </form>
        </div>
  <footer>
<center><p>&copy; My App Leandro Oliveira 2018</p></center>
  </footer>
  </div> <!-- /container -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
