<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/esqueceu_senha.css">
  <title>MeInclua</title>
  </head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">MeInclua</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Busca<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/contato">Contato</a>
        <a class="nav-item nav-link" href="/parceiros">Parceiros</a>
        <a class="nav-item nav-link" href="/sobre">Sobre</a>
        <a class="nav-item nav-link " href="/termos_condicoes">Termos e condições</a>
        <a class="nav-item nav-link " href="/central_de_ajuda">Central de Ajuda</a>
        <a class="nav-item nav-link active" href="/cadastrar_editar">Cadastrar-Editar</a>
      </div>
    </div>
  </nav>
  <div class="bg">
       <h1>Editar</h1>
       <div class="container">
         <form action="/action_page.php">
             <br></br>
               <h3>Para manter os dados da sua escola atualizados preencha os campos</h3>
               <label for="Data"><i class="fa fa-envelope"></i>Data</label>
               <input type="text" id="email" name="email" placeholder="meinclua@contato.com.br">
               <label for="Nome"><i class="fa fa-address-card-o"></i>Nome</label>
               <input type="text" id="adr" name="CNPJ" placeholder="00.000.0000/0000-00">
               <label for="CNPJ"><i class="fa fa-envelope"></i>CNPJ</label>
               <input type="text" id="email" name="email" placeholder="meinclua@contato.com.br">
               <label for="Endereço"><i class="fa fa-address-card-o"></i>Endereço</label>
               <input type="text" id="adr" name="CNPJ" placeholder="00.000.0000/0000-00">
               <label for="Bairro"><i class="fa fa-envelope"></i>Bairro</label>
               <input type="text" id="email" name="email" placeholder="meinclua@contato.com.br">
               <label for="Número"><i class="fa fa-address-card-o"></i>Número</label>
               <input type="text" id="adr" name="CNPJ" placeholder="00.000.0000/0000-00">
               <label for="Cidade"><i class="fa fa-envelope"></i>Cidade</label>
               <input type="text" id="email" name="email" placeholder="meinclua@contato.com.br"></center>
               <label for="UF"><i class="fa fa-address-card-o"></i>UF</label></center>
               <input type="text" id="adr" name="CNPJ" placeholder="00.000.0000/0000-00">
               <label for="E-mail"><i class="fa fa-address-card-o"></i>E-mail</label>
               <input type="text" id="adr" name="CNPJ" placeholder="00.000.0000/0000-00">
               <label for="Telefone"><i class="fa fa-address-card-o"></i>Telefone</label>
               <input type="text" id="adr" name="CNPJ" placeholder="00.000.0000/0000-00">
               <label for="Número de alunos"><i class="fa fa-address-card-o"></i>Número de alunos</label>
               <input type="text" id="adr" name="CNPJ" placeholder="00.000.0000/0000-00">
               <label for="NA"><i class="fa fa-address-card-o"></i>NA</label>
               <input type="text" id="adr" name="CNPJ" placeholder="00.000.0000/0000-00">
               <label for="Especialidade"><i class="fa fa-address-card-o"></i>Especialidaade</label>
               <input type="text" id="adr" name="CNPJ" placeholder="00.000.0000/0000-00">
               <label for="CID"><i class="fa fa-address-card-o"></i>CID</label>
               <input type="text" id="adr" name="CNPJ" placeholder="00.000.0000/0000-00">
           <center><button onclick="myFunction()" class="btn">Confirmar Alteração</button>

           <script>
           function myFunction() {
               alert("Mantenha seus dados atualizados. As família agradecem!");
           }
           </script>
         </form>
        </div>
  <footer>
    <p>&copy; My App Leandro Oliveira 2018</p>
  </footer>
  </div> <!-- /container -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
