<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/esqueceu_senha.css">
  <title>MeInclua</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand h1 mb-0" href="/_cs"><img alt="Brand" src="css/Logo.png" width="170"/><label class= "labelmeinclua">Rede colaborativa</label></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link " href="/_cs">Busca<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link " href="/contato_cs">Contato</a>
        <a class="nav-item nav-link " href="/parceiros_cs">Parceiros</a>
        <a class="nav-item nav-link " href="/sobre_cs">Sobre</a>
        <a class="nav-item nav-link " href="/termos_condicoes_cs">Termos e condições</a>
        <a class="navbar-brand h1 mb-0 nav-item nav-link active" href="/central_de_ajuda_cs">Central de Ajuda</a>
        <pre>
        </pre>
        <pre>
        </pre>
        <pre>
        </pre>
        <pre>
        </pre>
        <pre>
        </pre>
        <p class="navbar-text navbar-right"><a href="/" class="navbar-link">Logout</a></p>
      </div>
    </div>
  </nav>
<div class="bg1">
    <div class="container1">
    <h1>Central de Ajuda</h1>
</div>
    <br></br>
    <div>
    <center><iframe width="700" height="500" src="https://www.youtube.com/watch?v=K1rW8eUFeN4" frameborder="1" allowfullscreen></iframe></center>
    </div>
    <br><center><label class="labelcont"><a href="https://www.youtube.com/watch?v=K1rW8eUFeN4" target="_blank"><label class="labelcont"><u>Vídeo institucional</u></label></a></label></center></br>
    <br><center><label class="labelcont"><a href="https://www.youtube.com/watch?v=K1rW8eUFeN4" target="_blank"><label class="labelcont"><u>Tutorial</u></label></a></label></center></br>
    <center><label class="labelcont"><a href="https://www.youtube.com/watch?v=K1rW8eUFeN4" target="_blank"><label class="labelcont"><u>Leis e Direitos</u></label></a></label></center>

    <footer>
<center><p>&copy; My App Leandro Oliveira 2018</p></center>
    </footer>
  </div> <!-- /container -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
