<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <title>MeInclua</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand h1 mb-0" href="/"><img alt="Brand" src="css/Logo.png" width="170"/><label class= "labelmeinclua">Rede colaborativa</label></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Busca<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/contato">Contato</a>
        <a class="nav-item nav-link" href="/parceiros">Parceiros</a>
        <a class="nav-item nav-link" href="/sobre">Sobre</a>
        <a class="nav-item nav-link " href="/termos_condicoes">Termos e condições</a>
        <a class="nav-item nav-link " href="/central_de_ajuda">Central de Ajuda</a>
        <a class="navbar-brand h1 mb-0 nav-item nav-link active" href="/editar">Editar</a>
        <pre>
        </pre>
        <pre>
        </pre>
        <pre>
        </pre>
        <pre>
        </pre>
        <p class="navbar-text navbar-right"><a href="/cadastrar_editar" class="navbar-link">Logout</a></p>
      </div>
    </div>
  </nav>
  <div class="bg">
      <div class="container1">
       <center><h1>Editar</h1></center>
   </div>
       <br></br>
       <div class="container">
         <form action="/action_page.php">
             <br></br>
               <h3>Para manter os dados da sua escola atualizados preencha os campos</h3>
               <label for="Data"><i class="fa fa-envelope"></i>Data</label>
               <input type="Data" id="Data" name="Data" placeholder="00/00/0000">
               <label for="Nome"><i class="fa fa-address-card-o"></i>Nome</label>
               <input type="text" id="Nome" name="Nome" placeholder="...">
               <label for="CNPJ"><i class="fa fa-envelope"></i>CNPJ</label>
               <input type="text" id="CNPJ" name="CNPJ" placeholder="00.000.0000/0000-00">
               <label for="Endereço"><i class="fa fa-address-card-o"></i>Endereço</label>
               <input type="text" id="Endereco" name="CNPJ" placeholder="...">
               <label for="Bairro"><i class="fa fa-envelope"></i>Bairro</label>
               <input type="text" id="Bairro" name="Bairro" placeholder="...">
               <label for="Número"><i class="fa fa-address-card-o"></i>Número</label>
               <input type="text" id="Numero" name="Numero" placeholder="...">
               <label for="Cidade"><i class="fa fa-envelope"></i>Cidade</label>
               <input type="text" id="Cidade" name="Cidade" placeholder="..."></center>
               <label for="UF"><i class="fa fa-address-card-o"></i>UF</label></center>
               <input type="text" id="adr" name="UF" placeholder="SP">
               <label for="E-mail"><i class="fa fa-address-card-o"></i>E-mail</label>
               <input type="text" id="adr" name="E-mail" placeholder="meinclua@contato.com.br">
               <label for="Telefone"><i class="fa fa-address-card-o"></i>Telefone</label>
               <input type="number" id="adr" name="Telefone" placeholder="(00)-0000-0000">
               <label for="Número de alunos"><i class="fa fa-address-card-o"></i>Número de alunos</label>
               <input type="number" id="adr" name="Numero de alunos" placeholder="00">
               <label for="NA"><i class="fa fa-address-card-o"></i>NA</label>
               <input type="number" id="adr" name="NA" placeholder="000">
               <label for="Especialidade"><i class="fa fa-address-card-o"></i>Especialidaade</label>
               <input type="text" id="adr" name="Especialidade" placeholder="...">
               <label for="CID"><i class="fa fa-address-card-o"></i>CID</label>
               <input type="text" id="adr" name="CID" placeholder="CID">
               <label>
                 <input type="checkbox" checked="checked" name="estrutura"> A escola tem estrutura para atender os alunos down
               </label>
               <label>
                 <input type="checkbox" checked="checked" name="vaga"> Há vaga para o aluno down no período escolar no ano corrente
               </label>
               <label>
                 <input type="checkbox" checked="checked" name="periodo"> Aulas oferecidas em período integral
               </label>
               <label>
                 <input type="checkbox" checked="checked" name="professores"> Professores a parte na sala de aula para o(s) aluno(s) down
               </label>
           <center><button onclick="myFunction()" class="btn">Confirmar Alteração</button>

           <script>
           function myFunction() {
               alert("Mantenha seus dados atualizados. As família agradecem!");
           }
           </script>
         </form>
        </div>
  <footer>
<center><p>&copy; My App Leandro Oliveira 2018</p></center>
  </footer>
  </div> <!-- /container -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
