<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/index.css">
  <title>MeInclua</title>
 </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand h1 mb-0" href="/"><img alt="Brand" src="imgs/logo.png" width="170"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Busca</a>
        <a class="nav-item nav-link " href="/agradecimentos">Agradecimentos</a>
        <a class="nav-item nav-link" href="/sobre">Sobre</a>
        <a class="nav-item nav-link" href="/ajuda">Ajuda</a>
        <% include ./partials/user-area.ejs %>
      </div>
    </div>
  </nav>

  </div>
    <div id="map">
  </div>

<!-- Modal para votação -->
<div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Avaliação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form onsubmit="return avaliarEscola(event)">

              <div class="form-group">
                 <label for="ratingEscola">Avaliação</label>
                 <select class="form-control" id="ratingEscola">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                   <option>5</option>
                 </select>
               </div>

            <button type="submit" class="btn btn-primary">Enviar avaliação</button>

          </form>

      </div>
    </div>
  </div>
</div>

<!-- Modal para aviso de beta -->
<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="ratingModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Boas-vindas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container">
            <p>Trabalho realizado para fins acadêmicos em fase de teste.</p>
            <p>Desde já agradeço a todos a compreensão e colaboração.</p>
            <p><strong>Instruções</strong></p>
            <p>No mapa, são apresentados os pontos das escolas na região de Campinas - SP.
            Para cadastrar uma escola inclusiva e regular da região de Campinas - SP, basta acessar a aba “Login”, realizar o cadastro no perfil escola e efetuar o login com as informações solicitadas.
            <p>As informações cadastradas serão exibidas no mapa e apresentará um tooltip sobre o ponto da escola, possibilitando assim, ser avaliada por outros membros da rede.</p>
            Para atribuir uma nota, à(s) escola(s) cadastrada(s), basta acessar a aba “Login”, realizar o cadastro no perfil usuário e efetuar o login com as informações solicitadas.
            <p>A nota poderá ser atribuída diretamente no(s) tooltip(s) sobre o ponto de cada escola escolhida no mapa.</p>

        </div>

      </div>

      <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     </div>
    </div>
  </div>
</div>


  <footer>
      <center><p>&copy; My App Leandro Oliveira 2018</p></center>
  </footer>
  <script>

    this.hasUserLoggedIn = <%=((user && user.type) == "usuario")%>;
    this.infoWindow = null;
    this.curMarker = null;
    var markerContentString = "";

    markerContentString += "<div class='container'>";
    markerContentString += "  <div class='row'>";
    markerContentString += "    <div class='col-8'>";
    markerContentString += "      <a href='__website__'>__name__</a>";
    markerContentString += "    </div>";
    markerContentString += "    <div class='col-4'>";
    markerContentString += "      Avaliação: __rating__";
    markerContentString += "    </div>";
    markerContentString += "  </div>";
    markerContentString += "  <div class='row'>";
    markerContentString += "    <div class='col-12'>";
    markerContentString += "       __tel__";
    markerContentString += "    </div>";
    markerContentString += "  </div>";
    markerContentString += "  <div class='row'>";
    markerContentString += "    <div class='col-12'>";
    markerContentString += "      __addr__";
    markerContentString += "    </div>";
    markerContentString += "  </div>";
    markerContentString += "  <div class='row'>";
    markerContentString += "    <div class='col-4'>";
    markerContentString += "      Especialidade: __especialidade__";
    markerContentString += "    </div>";
    markerContentString += "    <div class='col-4'>";
    markerContentString += "      CID: __cid__";
    markerContentString += "    </div>";
    markerContentString += "    <div class='col-4'>";
    markerContentString += "      Número de alunos: __num_alunos__";
    markerContentString += "    </div>";
    markerContentString += "  </div>";

    markerContentString += "  <div class='row'>";
    markerContentString += "    <div class='col-6'>";
    markerContentString += "      __check_estrutura__";
    markerContentString += "    </div>";
    markerContentString += "    <div class='col-6'>";
    markerContentString += "      __check_vagas__";
    markerContentString += "    </div>";
    markerContentString += "  </div>";

    markerContentString += "  <div class='row'>";
    markerContentString += "    <div class='col-6'>";
    markerContentString += "      __check_integral__";
    markerContentString += "    </div>";
    markerContentString += "    <div class='col-6'>";
    markerContentString += "      __check_professores__";
    markerContentString += "    </div>";
    markerContentString += "  </div>";

    markerContentString += "  <div class='row'>";
    markerContentString += "    <div class='mb-1 mt-1 col-12'>";
    markerContentString += "      <button type='button' id='openRatingModal' data-toggle='modal' data-target='#ratingModal' class='btn btn-primary btn-sm'>Avaliar escola...</button>";
    markerContentString += "    </div>";
    markerContentString += "  </div>";

    markerContentString += "</div>";

    //markerContentString += "";
    //markerContentString += "<button type='button' class='btn btn-secondary btn-sm' onclick=logout()>Logout</button>";
    var self = this;

    function initApplication() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -22.902575, lng: -47.064854},
        zoom: 13,
        mapTypeId: 'roadmap'
      });

      self.infoWindow = new google.maps.InfoWindow({
         content: markerContentString
      });

      $.ajax({url: window.location.href + "api/places"}).then(function(response) {

        var places = response;
        if (places.length == 0) {
          return;
        }

        var markers = [];

        markers.forEach(function(marker) {
          marker.setMap(null);
        });

        markers = [];

        places.forEach(function(place) {

          if (!place.geometry) {
            console.log("Returned place contains no geometry");
            return;
          }

          var iconUrl;

          if (!place.escolaData)
            iconUrl = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
          else
            iconUrl = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';

          // Create a marker for each place.
          var marker = new google.maps.Marker({
            map: map,
            data: place,
            icon: iconUrl,
            title: place.name,
            position: place.geometry.location,
          });

          marker.addListener('click', function() {
            showMarkerInfo(marker);
          });

          markers.push(marker);
        });

      $("#welcomeModal").modal('show');
      });
    }


    function showMarkerInfo(marker) {
      if (self.curMarker) self.infoWindow.close();

      self.curMarker = marker;

      var place = marker.data;
      var escolaData = place.escolaData;

      $.ajax({url: window.location.href + "api/places/details/"+place.place_id + "/gmapsid/" + place.id}).then(function(data) {

        var place = data.result;

        function threatCheckbox(value, text) {

          if (value == "false")
            return "Não há " + text
          else
            return "Há " + text

        }

        self.infoWindow.setContent(
          markerContentString.replace("__name__", place.name)
            .replace("__tel__", place.formatted_phone_number)
            .replace("__addr__", place.formatted_address)
            .replace("__rating__", (data.npsData ? Number.parseFloat(data.npsData.avg_score).toFixed(1) : "n/a"))
            .replace("__website__", place.website)
            .replace("__cid__", escolaData.escola_cid)
            .replace("__num_alunos__", escolaData.escola_numalunos)
            .replace("__especialidade__", escolaData.escola_especialidade)
            .replace("__check_estrutura__", threatCheckbox(escolaData.escola_check_estrutura, "Estrutura especial"))
            .replace("__check_vagas__", threatCheckbox(escolaData.escola_check_vagas, "Vagas disponíveis"))
            .replace("__check_integral__", threatCheckbox(escolaData.escola_check_integral, "Aulas período integral"))
            .replace("__check_professores__", threatCheckbox(escolaData.escola_check_professores, "Professores dedicados"))
        );
        self.infoWindow.open(map, marker);
        self.infoWindow.place = place;

        if (!hasUserLoggedIn) {
            $("#openRatingModal").hide();
        } else {
            $("#openRatingModal").show();
        }
      });
    }

    function avaliarEscola(event) {
        event.stopPropagation();

        var _data = {
            value: $("#ratingEscola").val(),
            place: self.infoWindow.place
        };

        try{
            $.ajax(
                {type: "POST",
                url: window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "api/rating",
                data: _data
                }
            ).then(function(data) {
                if (data.status == "ok") {
                    alert("Obrigado pela sua avaliação.");
                    $("#ratingModal").modal('hide');
                }
                $("#ratingEscola").val("");
                self.showMarkerInfo(self.curMarker);
            });
        } catch(e) {
            alert(e)
        }
        return false;
    }

  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%- process.env.GOOGLE_MAPS_API_KEY %>&libraries=places&callback=initApplication" async defer></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
