<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/esqueceu_senha.css">
  <title>MeInclua</title>
 </head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand h1 mb-0" href="/"><img alt="Brand" src="css/Logo.png" width="170"/><label class= "labelmeinclua">Rede colaborativa</label></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Busca<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/contato">Contato</a>
        <a class="nav-item nav-link" href="/parceiros">Parceiros</a>
        <a class="nav-item nav-link" href="/sobre">Sobre</a>
        <a class="nav-item nav-link " href="/termos_condicoes">Termos e condições</a>
        <a class="nav-item nav-link " href="/central_de_ajuda">Central de Ajuda</a>
        <a class="navbar-brand h1 mb-0 nav-item nav-link active" href="/lista">Lista</a>
        <pre>
        </pre>
        <pre>
        </pre>
        <p class="navbar-text navbar-right"><a href="/cadastrar_editar" class="navbar-link">Cadastrar/Editar</a></p>
        <pre>
        </pre>
        <p class="navbar-text navbar-right"><a href="/login" class="navbar-link">Login</a></p>
      </div>
    </div>
  </nav>
  <div class="bg">
      <div class="container1">
      <h1>Visualização em Lista ou Visualização em Grade</h1>
  </div>
<br></br>
    <div id="btnContainer">
    <button class="btn active" onclick="listView()"><i class="fa fa-bars"></i> Lista</button>
    <button class="btn" onclick="gridView()"><i class="fa fa-th-large"></i> Grade</button>
    </div>
    <br>

    <div class="row">
      <div class="column" style="background-color:#ddd;">
        <h2>Escola 1</h2>
        <p>Dados</p>
        <h2>Escola 1</h2>
        <p>Dados</p>
        <h2>Escola 1</h2>
        <p>Dados</p>
      </div>
     <div class="column" style="background-color:#ccc;">
         <h2>Escola 2</h2>
         <p>Dados</p>
         <h2>Escola 2</h2>
         <p>Dados</p>
         <h2>Escola 2</h2>
         <p>Dados</p>
      </div>
    </div>

    <div class="row">
      <div class="column" style="background-color:#ddd;">
          <table>
        <tr>
          <tr><h2>Nome</h2></tr>
          <tr><h2>Logradouro</h2></tr>
          <tr><h2>Número</h2></tr>
          <tr><h2>E-mail</h2></tr>
          <tr><h2>No Tel</h2></tr>
          <tr><h2>Bairro</h2></tr>
          <tr><h2>NPS média</h2></tr>
          <tr><h2>NPS</h2></tr>
      </tr>
      <tr>
          <h5>Logradouro</td>
          <td>Número</td>
          <td>E-mail</td>
          <td>No Tel</td>
          <td>Bairro</td>
          <td>NPS média</td>
          <td>NPS</h2></td>

    </tr>
      </table>
      </div>
      <div class="column" style="background-color:#ccc;">
        <h2>Escola 4</h2>
        <p>Dados4</p>
        <p>Dados4</p>
        <p>Dados4</p>
      </div>
      <div class="row" style="background-color:#ccc;">
        <h2>Escola 5</h2>
        <p>Dados5</p>
        <p>Dados5</p>
        <p>Dados5</p>
      </div>
      <div class="column" style="background-color:#ccc;">
        <h2>Escola 6</h2>
        <p>Dados6</p>
        <p>Dados6</p>
        <p>Dados6</p>
      </div>
      <div class="row" style="background-color:#ccc;">
        <h2>Escola 7</h2>
        <p>Dados</p>
        <p>Dados</p>
        <p>Dados</p>
      </div>
    </div>

    <div class="row">
      <div class="column" style="background-color:#ddd;">
        <h2>Escola 5</h2>
        <p>Dados</p>
        <p>Dados</p>
        <p>Dados</p>
      </div>
      <div class="column" style="background-color:#ccc;">
        <h2>Escola 6</h2>
        <p>Dados</p>
        <p>Dados</p>
        <p>Dados</p>
      </div>
    </div>

    <div class="row">
      <div class="column" style="background-color:#ddd;">
        <h2>Escola 7</h2>
        <p>Dados</p>
        <p>Dados</p>
        <p>Dados</p>
      </div>
      <div class="column" style="background-color:#ccc;">
        <h2>Escola 8</h2>
        <p>Dados</p>
        <p>Dados</p>
        <p>Dados</p>
      </div>
    </div>

    <div class="row">
      <div class="column" style="background-color:#ddd;">
        <h2>Escola 9</h2>
        <p>Dados</p>
        <p>Dados</p>
        <p>Dados</p>
      </div>
      <div class="column" style="background-color:#ccc;">
        <h2>Escola 10</h2>
        <p>Dados</p>
        <p>Dados</p>
        <p>Dados</p>
      </div>
    </div>




    <br></br>
        <div class="row">
          <div class="column" style="background-color:#ddd;">
            <h2>Escola 1</h2>
            <p>Dados</p>
          </div>
         <div class="column" style="background-color:#ccc;">
            <h2>Escola 2</h2>
            <p>Dados</p>
          </div>
        </div>

        <div class="row">
          <div class="column" style="background-color:#ddd;">
            <h2>Escola 3</h2>
            <p>Dados</p>
          </div>
          <div class="column" style="background-color:#ccc;">
            <h2>Escola 4</h2>
            <p>Dados</p>
          </div>
        </div>

        <div class="row">
          <div class="column" style="background-color:#ddd;">
            <h2>Escola 5</h2>
            <p>Dados</p>
          </div>
          <div class="column" style="background-color:#ccc;">
            <h2>Escola 6</h2>
            <p>Dados</p>
          </div>
        </div>

        <div class="row">
          <div class="column" style="background-color:#ddd;">
            <h2>Escola 7</h2>
            <p>Dados</p>
          </div>
          <div class="column" style="background-color:#ccc;">
            <h2>Escola 8</h2>
            <p>Dados</p>
          </div>
        </div>

        <div class="row">
          <div class="column" style="background-color:#ddd;">
            <h2>Escola 9</h2>
            <p>Dados</p>
          </div>
          <div class="column" style="background-color:#ccc;">
            <h2>Escola 10</h2>
            <p>Dados</p>
          </div>
        </div>















    <script>
    // Get the elements with class="column"
    var elements = document.getElementsByClassName("column");

    // Declare a loop variable
    var i;

    // List View
    function listView() {
        for (i = 0; i < elements.length; i++) {
            elements[i].style.width = "100%";
        }
    }

    // Grid View
    function gridView() {
        for (i = 0; i < elements.length; i++) {
            elements[i].style.width = "50%";
        }
    }

    /* Optional: Add active class to the current button (highlight it) */
    var container = document.getElementById("btnContainer");
    var btns = container.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function(){
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
    </script>
  <footer>
<center><p>&copy; My App Leandro Oliveira 2018</p></center>
  </footer>
  </div> <!-- /container -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
