<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/esqueceu_senha.css">
  <title>MeInclua</title>
 </head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand h1 mb-0" href="/_cs"><img alt="Brand" src="css/Logo.png" width="170"/><label class= "labelmeinclua">Rede colaborativa</label></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/_cs">Busca<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/contato_cs">Contato</a>
        <a class="nav-item nav-link" href="/parceiros_cs">Parceiros</a>
        <a class="nav-item nav-link" href="/sobre_cs">Sobre</a>
        <a class="nav-item nav-link " href="/termos_condicoes_cs">Termos e condições</a>
        <a class="nav-item nav-link " href="/central_de_ajuda_cs">Central de Ajuda</a>
        <a class="navbar-brand h1 mb-0 nav-item nav-link active" href="/lista_cs">Lista</a>
        <pre>
        </pre>
        <pre>
        </pre>
        <pre>
        </pre>
        <pre>
        </pre>
        <pre>
        </pre>
        <p class="navbar-text navbar-right"><a href="/" class="navbar-link">Logout</a></p>
      </div>
    </div>
  </nav>
  <div class="bg">
<div class="container1">
      <h1>Visualização em Lista ou Visualização em Grade</h1>
  </div>
<br></br>


<!--    <div id="btnContainer">
    <center><button class="btn active" onclick="listView()"><i class="fa fa-bars"></i> Lista</button>
    <button class="btn" onclick="gridView()"><i class="fa fa-th-large"></i> Grade</button>

</div>-->
<center><p>Contribua para a rede e atribua o NPS a escola em que você tem uma experiência</p></center>






    <div id="top" class="row">
        <div class="col-md-3">
            <h2></h2>
        </div>

        <div class="col-md-6">
            <div class="input-group h2">
                <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Itens">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search">Filtrar</span>
                    </button>
                </span>
            </div>
        </div>

    </div> <!-- /#top -->





    <!--<div id="main" class="container-fluid">
         <div id="top" class="row">
         </div>
         <hr />
         <div id="list" class="row">
         </div>
         <div id="bottom" class="row">
         </div>
     </div>-->

     <div id="list" class="row">

    <div class="table-responsive col-md-12">
        <table class="table table-striped" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Número</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>NPS-Média</th>
                    <th>Atribuir NPS</th>

                    <th class="actions"></th>
                    <th class="actions"></th>
                 </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h5>Colégio Dom Barreto</h5></td>
                    <td><h5>Av. da Saudade</h5></td>
                    <td><h5>705</h5></td>
                    <td><h5>Ponte Preta</h5></td>
                    <td><h5>Campinas</h5></td>
                    <td><h5>8</h5></td>
                    <td><h5>---</h5></td>
                    <!-- Modal -->
                    <td class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="modalLabel">Confirmar</h4>
                                </div>
                                <div class="modal-body">Deseja realmente atribuir esse NPS? </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">Sim</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td><a class="btn btn-primary btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">
                        Confirma NPS
                    </a></td>
                 </tr>
                 <tr>
                     <td><h5>Colégio Dom Barreto</h5></td>
                     <td><h5>Av. da Saudade</h5></td>
                     <td><h5>705</h5></td>
                     <td><h5>Ponte Preta</h5></td>
                     <td><h5>Campinas</h5></td>
                     <td><h5>8</h5></td>
                     <td><h5>---</h5></td>
                     <!-- Modal -->
                     <td class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                         <div class="modal-dialog" role="document">
                             <div class="modal-content">
                                 <div class="modal-header">
                                     <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                                     <h4 class="modal-title" id="modalLabel">Confirmar</h4>
                                 </div>
                                 <div class="modal-body">Deseja realmente atribuir esse NPS? </div>
                                 <div class="modal-footer">
                                     <button type="button" class="btn btn-primary">Sim</button>
                                     <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
                                 </div>
                             </div>
                         </div>
                     </td>

                     <td><a class="btn btn-primary btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">
                         Confirma NPS
                     </a></td>
                  </tr>
                  <tr>
                      <td><h5>Colégio Dom Barreto</h5></td>
                      <td><h5>Av. da Saudade</h5></td>
                      <td><h5>705</h5></td>
                      <td><h5>Ponte Preta</h5></td>
                      <td><h5>Campinas</h5></td>
                      <td><h5>8</h5></td>
                      <td><h5>---</h5></td>
                      <!-- Modal -->
                      <td class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                          <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                                      <h4 class="modal-title" id="modalLabel">Confirmar</h4>
                                  </div>
                                  <div class="modal-body">Deseja realmente atribuir esse NPS? </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-primary">Sim</button>
                                      <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
                                  </div>
                              </div>
                          </div>
                      </td>

                      <td><a class="btn btn-primary btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">
                          Confirma NPS
                      </a></td>
                   </tr>
                   <tr>
                       <td><h5>Colégio Dom Barreto</h5></td>
                       <td><h5>Av. da Saudade</h5></td>
                       <td><h5>705</h5></td>
                       <td><h5>Ponte Preta</h5></td>
                       <td><h5>Campinas</h5></td>
                       <td><h5>8</h5></td>
                       <td><h5>---</h5></td>
                       <!-- Modal -->
                       <td class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                           <div class="modal-dialog" role="document">
                               <div class="modal-content">
                                   <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                                       <h4 class="modal-title" id="modalLabel">Confirmar</h4>
                                   </div>
                                   <div class="modal-body">Deseja realmente atribuir esse NPS? </div>
                                   <div class="modal-footer">
                                       <button type="button" class="btn btn-primary">Sim</button>
                                       <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
                                   </div>
                               </div>
                           </div>
                       </td>

                       <td><a class="btn btn-primary btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">
                           Confirma NPS
                       </a></td>
                    </tr>
                    <tr>
                        <td><h5>Colégio Dom Barreto</h5></td>
                        <td><h5>Av. da Saudade</h5></td>
                        <td><h5>705</h5></td>
                        <td><h5>Ponte Preta</h5></td>
                        <td><h5>Campinas</h5></td>
                        <td><h5>8</h5></td>
                        <td><h5>---</h5></td>
                        <!-- Modal -->
                        <td class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="modalLabel">Confirmar</h4>
                                    </div>
                                    <div class="modal-body">Deseja realmente atribuir esse NPS? </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Sim</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td><a class="btn btn-primary btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">
                            Confirma NPS
                        </a></td>
                     </tr>
                     <tr>
                         <td><h5>Colégio Dom Barreto</h5></td>
                         <td><h5>Av. da Saudade</h5></td>
                         <td><h5>705</h5></td>
                         <td><h5>Ponte Preta</h5></td>
                         <td><h5>Campinas</h5></td>
                         <td><h5>8</h5></td>
                         <td><h5>---</h5></td>
                         <!-- Modal -->
                         <td class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                             <div class="modal-dialog" role="document">
                                 <div class="modal-content">
                                     <div class="modal-header">
                                         <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                                         <h4 class="modal-title" id="modalLabel">Confirmar</h4>
                                     </div>
                                     <div class="modal-body">Deseja realmente atribuir esse NPS? </div>
                                     <div class="modal-footer">
                                         <button type="button" class="btn btn-primary">Sim</button>
                                         <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
                                     </div>
                                 </div>
                             </div>
                         </td>

                         <td><a class="btn btn-primary btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">
                             Confirma NPS
                         </a></td>
                      </tr>
                      <tr>
                          <td><h5>Colégio Dom Barreto</h5></td>
                          <td><h5>Av. da Saudade</h5></td>
                          <td><h5>705</h5></td>
                          <td><h5>Ponte Preta</h5></td>
                          <td><h5>Campinas</h5></td>
                          <td><h5>8</h5></td>
                          <td><h5>---</h5></td>
                          <!-- Modal -->
                          <td class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                                          <h4 class="modal-title" id="modalLabel">Confirmar</h4>
                                      </div>
                                      <div class="modal-body">Deseja realmente atribuir esse NPS? </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-primary">Sim</button>
                                          <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
                                      </div>
                                  </div>
                              </div>
                          </td>

                          <td><a class="btn btn-primary btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">
                              Confirma NPS
                          </a></td>
                       </tr>
                       <tr>
                           <td><h5>Colégio Dom Barreto</h5></td>
                           <td><h5>Av. da Saudade</h5></td>
                           <td><h5>705</h5></td>
                           <td><h5>Ponte Preta</h5></td>
                           <td><h5>Campinas</h5></td>
                           <td><h5>8</h5></td>
                           <td><h5>---</h5></td>
                           <!-- Modal -->
                           <td class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                               <div class="modal-dialog" role="document">
                                   <div class="modal-content">
                                       <div class="modal-header">
                                           <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                                           <h4 class="modal-title" id="modalLabel">Confirmar</h4>
                                       </div>
                                       <div class="modal-body">Deseja realmente atribuir esse NPS? </div>
                                       <div class="modal-footer">
                                           <button type="button" class="btn btn-primary">Sim</button>
                                           <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
                                       </div>
                                   </div>
                               </div>
                           </td>

                           <td><a class="btn btn-primary btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">
                               Confirma NPS
                           </a></td>
                        </tr>
                        <tr>
                            <td><h5>Colégio Dom Barreto</h5></td>
                            <td><h5>Av. da Saudade</h5></td>
                            <td><h5>705</h5></td>
                            <td><h5>Ponte Preta</h5></td>
                            <td><h5>Campinas</h5></td>
                            <td><h5>8</h5></td>
                            <td><h5>---</h5></td>
                            <!-- Modal -->
                            <td class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="modalLabel">Confirmar</h4>
                                        </div>
                                        <div class="modal-body">Deseja realmente atribuir esse NPS? </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary">Sim</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td><a class="btn btn-primary btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">
                                Confirma NPS
                            </a></td>
                         </tr>
                         <tr>
                             <td><h5>Colégio Dom Barreto</h5></td>
                             <td><h5>Av. da Saudade</h5></td>
                             <td><h5>705</h5></td>
                             <td><h5>Ponte Preta</h5></td>
                             <td><h5>Campinas</h5></td>
                             <td><h5>8</h5></td>
                             <td><h5>---</h5></td>
                             <!-- Modal -->
                             <td class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                                 <div class="modal-dialog" role="document">
                                     <div class="modal-content">
                                         <div class="modal-header">
                                             <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                                             <h4 class="modal-title" id="modalLabel">Confirmar</h4>
                                         </div>
                                         <div class="modal-body">Deseja realmente atribuir esse NPS? </div>
                                         <div class="modal-footer">
                                             <button type="button" class="btn btn-primary">Sim</button>
                                             <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
                                         </div>
                                     </div>
                                 </div>
                             </td>

                             <td><a class="btn btn-primary btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">
                                 Confirma NPS
                             </a></td>
                          </tr>
                          <tr>
                              <td><h5>Colégio Dom Barreto</h5></td>
                              <td><h5>Av. da Saudade</h5></td>
                              <td><h5>705</h5></td>
                              <td><h5>Ponte Preta</h5></td>
                              <td><h5>Campinas</h5></td>
                              <td><h5>8</h5></td>
                              <td><h5>---</h5></td>
                              <!-- Modal -->
                              <td class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                                              <h4 class="modal-title" id="modalLabel">Confirmar</h4>
                                          </div>
                                          <div class="modal-body">Deseja realmente atribuir esse NPS? </div>
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-primary">Sim</button>
                                              <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
                                          </div>
                                      </div>
                                  </div>
                              </td>

                              <td><a class="btn btn-primary btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">
                                  Confirma NPS
                              </a></td>
                           </tr>
                           <tr>
                               <td><h5>Colégio Dom Barreto</h5></td>
                               <td><h5>Av. da Saudade</h5></td>
                               <td><h5>705</h5></td>
                               <td><h5>Ponte Preta</h5></td>
                               <td><h5>Campinas</h5></td>
                               <td><h5>8</h5></td>
                               <td><h5>---</h5></td>
                               <!-- Modal -->
                               <td class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                                   <div class="modal-dialog" role="document">
                                       <div class="modal-content">
                                           <div class="modal-header">
                                               <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                                               <h4 class="modal-title" id="modalLabel">Confirmar</h4>
                                           </div>
                                           <div class="modal-body">Deseja realmente atribuir esse NPS? </div>
                                           <div class="modal-footer">
                                               <button type="button" class="btn btn-primary">Sim</button>
                                               <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
                                           </div>
                                       </div>
                                   </div>
                               </td>

                               <td><a class="btn btn-primary btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">
                                   Confirma NPS
                               </a></td>
                            </tr>


            </tbody>
         </table>

     </div>
 </div> <!-- /#list -->

<div id="bottom" class="row">
    <div class="col-md-12">

        <ul class="pagination">
            <li class="disabled"><a>&lt; Anterior &nbsp;</a></li>
            <li class="disabled"><a>&nbsp;1</a></li>
            <li><a href="#">&nbsp;2</a></li>
            <li><a href="#">&nbsp;3</a></li>
            <li class="next"><a href="#" rel="next">&nbsp;Próximo &gt;</a></li>
        </ul><!-- /.pagination -->

    </div>
</div> <!-- /#bottom -->







    <script>
    // Get the elements with class="column"
    var elements = document.getElementsByClassName("column");

    // Declare a loop variable
    var i;

    // List View
    function listView() {
        for (i = 0; i < elements.length; i++) {
            elements[i].style.width = "100%";
        }
    }

    // Grid View
    function gridView() {
        for (i = 0; i < elements.length; i++) {
            elements[i].style.width = "50%";
        }
    }

    /* Optional: Add active class to the current button (highlight it) */
    var container = document.getElementById("btnContainer");
    var btns = container.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function(){
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
    </script>
  <footer>
<center><p>&copy; My App Leandro Oliveira 2018</p></center>
  </footer>
  </div> <!-- /container -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
