<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <title>MeInclua</title>
 </head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand h1 mb-0" href="/"><img alt="Brand" src="imgs/logo.png" width="170"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Busca</a>
          <a class="nav-item nav-link" href="/parceiros">Parceiros</a>
          <a class="nav-item nav-link" href="/sobre">Sobre</a>
          <a class="nav-item nav-link" href="/ajuda">Ajuda</a>
          <a class="nav-item nav-link active" href="/login">Login</a>
      </div>
    </div>
  </nav>

  <div class="container">
    </br>
    <h1 class="display-4">Entrar</h1>
    </br>
    </br>

    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <div class="row">
            <div class="col">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Endereço de email...">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-seconday">Esqueci a senha</button>
            </div>
        </div>
        <small id="emailHelp" class="form-text text-muted">Nós não compartilharemos seu email com ninguém.</small>
      </div>
      <div class="form-group">
      <label for="exampleInputPassword1">Senha</label>
        <div class="row">
            <div class="col">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
        </div>

      </div>

    </form>

    </br>
    </br>

    <h1 class="display-5">Não possuo conta...</h1>
    </br>
    </br>


    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="usuario-tab" data-toggle="tab" href="#usuario" role="tab" aria-controls="usuario" aria-selected="true">Usuário</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="escola-tab" data-toggle="tab" href="#escola" role="tab" aria-controls="escola" aria-selected="false">Escola</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="usuario" role="tabpanel" aria-labelledby="usuario-tab">

            <form>

                <div class="form-group">
                  <label for="exampleInputEmail1">Nome</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu nome...">
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu email...">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Cadastrar usuário</button>
            </form>

        </div>
        <div class="tab-pane" id="escola" role="tabpanel" aria-labelledby="escola-tab">

            <form>

                <div class="form-group">
                  <label for="exampleInputEmail1">CNPJ</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu nome...">
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu email...">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Cadastrar escola</button>
            </form>

        </div>
    </div>
  </div>



  <footer>
      <center><p>&copy; My App Leandro Oliveira 2018</p></center>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
