<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/zoom.css">
    <link rel="stylesheet" href="/css/esqueceu_senha.css">
  <title>MeInclua</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand h1 mb-0" href="/"><img alt="Brand" src="css/Logo.png" width="170"/><label class= "labelmeinclua">Rede colaborativa</label></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Busca<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/contato">Contato</a>
        <a class="navbar-brand h1 mb-0 nav-item nav-link active" href="/parceiros">Parceiros</a>
        <a class="nav-item nav-link" href="/sobre">Sobre</a>
        <a class="nav-item nav-link" href="/termos_condicoes">Termos e condições</a>
        <a class="nav-item nav-link " href="/central_de_ajuda">Central de Ajuda</a>
        <pre>
        </pre>
        <pre>
        </pre>
        <p class="navbar-text navbar-right"><a href="/cadastrar_editar" class="navbar-link">Cadastrar/Editar</a></p>
        <pre>
        </pre>
        <p class="navbar-text navbar-right"><a href="/login" class="navbar-link">Login</a></p>
      </div>
    </div>
  </nav>
  <div class="parallax"></div>

 <div style="height:1000px;background-color:#FFFFFF;font-size:36px">
     <div class="bg">
         <div class="container1">
  <center><h1>Parceiros</h1></center>
</div>
         <br></br>
         <div class="container">
           <form action="/action_page.php">
               <br></br>
               <center><label class="labelRef" for="">"Comece de onde você está. Use o que você tiver. Faça o que você puder"</label>
               <br></br>
               <img src="css/APAE1.png">

               <br><center><label class="labelcont"><a href="http://www.apaesp.org.br/pt-br/sobre-deficiencia-intelectual/Paginas/o-que-e.aspx" target="_blank"><label class="labelcont"><u>APAE</a></u></label></label></center></br>
               <br></br>

               <img src="css/COF1.png">
               <br><center><label class="labelcont"><a href="http://www.cof.org.br/" target="_blank"><label class="labelcont"><u>COF</a></u></label></label></center></br>
               <br></br>

               <img src="css/CPqD1.png">
               <br><center><label class="labelcont"><a href="https://www.cpqd.com.br/" target="_blank"><label class="labelcont"><u>CPqD</a></u></label></label></center></br>
               <br></br>

               <img src="css/Fatec1.png">
               <br><center><label class="labelcont"><a href="http://fatecid.com.br/v2014/index.php" target="_blank"><label class="labelcont"><u>Fatec</a></u></label></label></center></br>
               <br></br>

               <img src="css/Hospitalhacos1.png">
               <br><center><label class="labelcont"><a href="http://www.hospitalhacos.org.br/" target="_blank"><label class="labelcont"><u>Hospitalhaços</a></u></label></label></center></br>
               <br></br>

               <img src="css/Sonhar_acordado1.png">
               <br><center><label class="labelcont"><a href="http://sonharacordado.org.br/" target="_blank"><label class="labelcont"><u>Sonhar Acordado</a></center></u></label></label></center></br>
               <br></br>

               <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<div class="parallax"></div>
</form>
</div>
</div>
     <footer>
    <center><p>&copy; My App Leandro Oliveira 2018</p></center>
     </footer>
</div>
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

</body>
</html>
