<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/esqueceu_senha.css">
  <title>MeInclua</title>
 </head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand h1 mb-0" href="/"><img alt="Brand" src="imgs/logo.png" width="170"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Busca</a>
          <a class="nav-item nav-link" href="/parceiros">Parceiros</a>
          <a class="nav-item nav-link active" href="/sobre">Sobre</a>
          <a class="nav-item nav-link" href="/ajuda">Ajuda</a>
          <a class="nav-item nav-link" href="/login">Login</a>
      </div>
    </div>
  </nav>
  <div class="bg">
      <div class="container1">
  <h1>Sobre</h1>
</div>
         <br></br>
         <!-- Formulário -->
         <div class="container">
           <form action="action_page.php">
               <br><label><center>Início em 02 de fevereiro de 2018 – Fatec - Indaiatuba</br>
                   <br>Trabalho de Graduação apresentado como pré-requisito para a conclusão do Curso Superior de Tecnologia em Análise e Desenvolvimento de Sistemas.
                   Este trabalho tem como objetivo criar uma rede colaborativa entre as famílias, para buscarem de uma forma mais objetiva as escolas regulares e inclusivas para deficientes com SD.</br>
<br><u>MISSÃO</u></br>
Dar às pessoas a oportunidade de uma melhor busca de escolas inclusivas e aproximar as famílias, as escolas e o mundo.
<br></br>
<br><u>SOBRE</u></br>
Bem-vindo à página oficial do MEINCLUA
<br></br>
<br><u>INFORMAÇÕES GERAIS</u></br>
Suas ideias e sugestões nos ajudam a melhorar constantemente os recursos do MEINCLUA.<br>Dê sua opinião sobre como podemos melhorar a sua experiência.</br>
<br></br>

<br><u>INFORMAÇÕES PESSSOAIS</u></br>
As pessoas usam o MEINCLUA de forma colaborativa para facilitarem a busca e a escolha das escolas que efetivamente praticam a inclusão social, principalmente para as pessoas com síndrome de down e ainda permite conhecer mais as entidades desse meio.
</center></label></br>
           </form>
         </div>
           </form>
         </div>
         <!-- Formulário -->
  <footer>
    <center><p>&copy; My App Leandro Oliveira 2018</p></center>
  </footer>
 </div> <!-- /container -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
