<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <meta name=”viewport” content=”width=320, initial-scale=.9″>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <title>MeInclua</title>
 </head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand h1 mb-0" href="/"><img alt="Brand" src="imgs/logo.png" width="170"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Busca</a>
          <a class="nav-item nav-link " href="/agradecimentos">Agradecimentos</a>
          <a class="nav-item nav-link" href="/sobre">Sobre</a>
          <a class="nav-item nav-link" href="/ajuda">Ajuda</a>
          <% include ./partials/user-area.ejs %>
      </div>
    </div>
  </nav>
  <div class="container">

  <br/>

    <h1 class="display-4">Ajude-nos a melhorar</h1>
    <p class="lead">
      Sua opinião é muito importante para nós. Preencha o formulário seguite e nos deixe sua avaliação.
    </p>
    <br/>
    <br/>

    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-10">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSev2BXTcXISCLz_bkCVh2TNIc1awGnUem7vHXovzN0e5qYRSw/viewform?embedded=true"
                height="680px"
                frameborder="0"
                width="600px"
                marginheight="0"
                marginwidth="0">Carregando…</iframe>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
 </div>
 <footer>
   <center><p>&copy; My App Leandro Oliveira 2018</p></center>
 </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
