<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/esqueceu_senha.css">
  <title>MeInclua</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand h1 mb-0" href="/"><img alt="Brand" src="imgs/logo.png" width="170"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Busca</a>
        <a class="nav-item nav-link " href="/agradecimentos">Agradecimentos</a>
        <a class="nav-item nav-link" href="/sobre">Sobre</a>
        <a class="nav-item nav-link" href="/ajuda">Ajuda</a>
        <% include ./partials/user-area.ejs %>
      </div>
    </div>
  </nav>

  <div class="container">
    <br></br>
    <center><h1 class="display-5">Termos e condições</h1></center>

    <br></br>
    <p>Data da &uacute;ltima revis&atilde;o: 01 de Maio de 2018 <br />Declara&ccedil;&atilde;o de Direitos e Responsabilidades</p>
<p>Esta declara&ccedil;&atilde;o de direitos e responsabilidades ("Declara&ccedil;&atilde;o," "Termos," ou "DDR") &eacute; baseada nos princ&iacute;pios do MEINCLUA e representa os termos de servi&ccedil;o que regem nosso relacionamento com os usu&aacute;rios e outras pessoas que interagem com o MEINCLUA. Ao usar ou acessar os Servi&ccedil;os do MEINCLUA, voc&ecirc; concorda com esta declara&ccedil;&atilde;o, conforme atualizada periodicamente. Adicionalmente, voc&ecirc; pode encontrar recursos na aba "Sobre" que o ajudar&atilde;o a entender como o MEINCLUA funciona.</p>
<p>&nbsp;</p>
<p>1. Privacidade</p>
<p>Sua privacidade &eacute; muito importante para n&oacute;s.</p>
<p>O que voc&ecirc; faz e as informa&ccedil;&otilde;es que fornece.</p>
<p>Coletamos o conte&uacute;do e outras informa&ccedil;&otilde;es fornecidas por voc&ecirc; quando usa nossos Servi&ccedil;os, como quando se cadastra em uma conta. Isso pode incluir informa&ccedil;&otilde;es presentes no conte&uacute;do ou a respeito dele, como a localiza&ccedil;&atilde;o ou a data em que um arquivo foi criado. Tamb&eacute;m coletamos informa&ccedil;&otilde;es sobre como voc&ecirc; usa nosso servi&ccedil;o.</p>
<p><br />2. Conte&uacute;do e informa&ccedil;&otilde;es</p>
<p>Voc&ecirc; &eacute; propriet&aacute;rio de todo o conte&uacute;do e informa&ccedil;&otilde;es que publica no MEINCLUA:</p>
<p>2.1 Seu feedback ou outras sugest&otilde;es sobre o MEINCLUA s&atilde;o sempre bem-vindos, mas entenda que podemos usar esse feedback ou sugest&otilde;es sem qualquer obriga&ccedil;&atilde;o de o compensar.</p>
<p>2.2 A informa&ccedil;&atilde;o fornecida sobre suspeita poder&aacute; ter uma an&aacute;lise e se ocorrer tal constata&ccedil;&atilde;o de n&atilde;o conformidade a mesma poder&aacute; ser exclu&iacute;da da rede.</p>
<p><br />3. Seguran&ccedil;a</p>
<p>Fazemos o poss&iacute;vel para manter o MEINCLUA seguro, mas n&atilde;o podemos garantir isso.</p>
<p>Precisamos da sua ajuda para manter o MEINCLUA seguro, o que inclui os seguintes compromissos de sua parte:</p>
<p>3.1 Voc&ecirc; n&atilde;o publicar&aacute; comunica&ccedil;&otilde;es comerciais n&atilde;o autorizadas (como spam) no MEINCLUA.</p>
<p>3.2 Voc&ecirc; n&atilde;o coletar&aacute; conte&uacute;do ou informa&ccedil;&otilde;es de usu&aacute;rios, ou acessar&aacute; o MEINCLUA usando meios automatizados (como bots de coleta, rob&ocirc;s, spiders ou scrapers) sem nossa permiss&atilde;o pr&eacute;via.</p>
<p>3.3 Voc&ecirc; n&atilde;o far&aacute; parte de marketing multin&iacute;vel ilegal, como um esquema de pir&acirc;mide, no MEINCLUA.</p>
<p>3.4 Voc&ecirc; n&atilde;o solicitar&aacute; informa&ccedil;&otilde;es de login, nem acessar&aacute; uma conta que perten&ccedil;a a outra pessoa.</p>
<p>3.5 Voc&ecirc; n&atilde;o ir&aacute; intimidar, qualquer usu&aacute;rio ou escola.</p>
<p>3.6 Voc&ecirc; n&atilde;o usar&aacute; o MEINCLUA para praticar qualquer ato ilegal, equivocado, malicioso ou discriminat&oacute;rio.</p>
<p>3.9 Voc&ecirc; n&atilde;o far&aacute; nada que possa desativar, sobrecarregar ou impedir a apar&ecirc;ncia ou o funcionamento adequado do MEINCLUA, como um ataque de nega&ccedil;&atilde;o de servi&ccedil;o ou interfer&ecirc;ncia no processamento da p&aacute;gina ou de outra funcionalidade do MEINCLUA.</p>
<p>3.10 Voc&ecirc; n&atilde;o facilitar&aacute; nem incentivar&aacute; a viola&ccedil;&atilde;o desta Declara&ccedil;&atilde;o ou de nossas pol&iacute;ticas.</p>
<p><br />4. Registro e seguran&ccedil;a da conta</p>
<p>Os usu&aacute;rios do MEINCLUA fornecem seus nomes e informa&ccedil;&otilde;es reais e precisamos da sua ajuda para que isso continue assim.</p>
<p>Veja a seguir alguns compromissos que voc&ecirc; firma conosco em rela&ccedil;&atilde;o ao registro e &agrave; manuten&ccedil;&atilde;o da seguran&ccedil;a de sua conta:</p>
<p>4.1 Voc&ecirc; n&atilde;o fornecer&aacute; qualquer informa&ccedil;&atilde;o pessoal falsa no MEINCLUA, nem criar&aacute; uma conta para qualquer outra pessoa al&eacute;m de voc&ecirc; sem permiss&atilde;o.</p>
<p>4.2 Voc&ecirc; n&atilde;o criar&aacute; mais de uma conta pessoal.</p>
<p>4.3 Se desativarmos sua conta, voc&ecirc; n&atilde;o dever&aacute; criar outra sem nossa permiss&atilde;o.</p>
<p>4.4 Voc&ecirc; n&atilde;o usar&aacute; o MEINCLUA se for menor de 15 anos.</p>
<p>4.5 Voc&ecirc; manter&aacute; suas informa&ccedil;&otilde;es de contato precisas e atualizadas.</p>
<p>4.7 Voc&ecirc; n&atilde;o compartilhar&aacute; sua senha (ou, no caso de desenvolvedores, sua chave secreta), deixar&aacute; outra pessoa acessar sua conta ou praticar&aacute; qualquer ato que possa comprometer a seguran&ccedil;a de sua conta.</p>
<p>4.8 Se voc&ecirc; selecionar um nome de usu&aacute;rio ou identificador similar para sua conta, n&oacute;s nos reservaremos o direito de remover ou recuperar este nome ou identificador se considerarmos adequado (por exemplo, quando um propriet&aacute;rio de uma escola reivindicar um nome de usu&aacute;rio que n&atilde;o tem qualquer rela&ccedil;&atilde;o com o nome real do usu&aacute;rio).</p>
<p><br />5. Prote&ccedil;&atilde;o dos direitos de outras pessoas</p>
<p>N&oacute;s respeitamos os direitos de outras pessoas e esperamos que voc&ecirc; fa&ccedil;a o mesmo.</p>
<p>5.1 N&oacute;s podemos remover qualquer conte&uacute;do ou informa&ccedil;&atilde;o publicada por voc&ecirc; no MEINCLUA se julgarmos que isso viola esta declara&ccedil;&atilde;o ou nossas pol&iacute;ticas.</p>
<p>5.2 Se voc&ecirc; violar repetidamente os direitos de propriedade intelectual de terceiros, desativaremos sua conta quando apropriado.</p>
<p><br />6. Disposi&ccedil;&otilde;es especiais aplic&aacute;veis a desenvolvedores/operadores de aplicativos e sites</p>
<p>Se voc&ecirc; &eacute; um desenvolvedor ou operador de um aplicativo ou site da Plataforma, deve estar em conformidade com os termos do MEINCLUA</p>
<p><br />7. Disposi&ccedil;&otilde;es especiais aplic&aacute;veis &agrave;s P&aacute;ginas</p>
<p>Se voc&ecirc; criar ou administrar uma p&aacute;gina no MEINCLUA ou veicular uma promo&ccedil;&atilde;o ou uma oferta por meio de sua P&aacute;gina, voc&ecirc; concorda com nossos Termos</p>
<p><br />8. Altera&ccedil;&otilde;es</p>
<p>8. Notificaremos voc&ecirc; antes de fazer altera&ccedil;&otilde;es nestes termos e lhe daremos a oportunidade de analisar e comentar os termos revisados antes de continuar a usar nosso servi&ccedil;o.</p>
<p>8.1 Se fizermos altera&ccedil;&otilde;es em pol&iacute;ticas, diretrizes ou outros termos mencionados ou incorporados nesta Declara&ccedil;&atilde;o, poderemos apresentar um aviso na p&aacute;gina.</p>
<p>8..2 Se voc&ecirc; continuar a usar o servi&ccedil;o do MEINCLUA depois do aviso de altera&ccedil;&otilde;es em nossos termos, isso constituir&aacute; sua aceita&ccedil;&atilde;o dos termos.</p>
<p><br />9. Rescis&atilde;o</p>
<p><br />Se voc&ecirc; violar o texto ou a ess&ecirc;ncia desta Declara&ccedil;&atilde;o, ou gerar risco ou poss&iacute;vel exposi&ccedil;&atilde;o legal para n&oacute;s, podemos deixar de fornecer todo ou parte do MEINCLUA para voc&ecirc;. Notificaremos voc&ecirc; por e-mail ou na pr&oacute;xima vez que voc&ecirc; tentar acessar sua conta.</p>
<p><br />10. Contesta&ccedil;&otilde;es</p>
<p>10.1 Se algu&eacute;m fizer uma alega&ccedil;&atilde;o contra n&oacute;s em rela&ccedil;&atilde;o a suas a&ccedil;&otilde;es, conte&uacute;do ou informa&ccedil;&otilde;es no MEINCLUA, voc&ecirc; nos isentar&aacute; da responsabilidade sobre todos os danos, perdas e despesas de qualquer esp&eacute;cie (incluindo os custos judiciais aplic&aacute;veis) em rela&ccedil;&atilde;o a essa alega&ccedil;&atilde;o. Mesmo estabelecendo regras de conduta para os usu&aacute;rios, n&atilde;o controlamos nem orientamos as a&ccedil;&otilde;es dos usu&aacute;rios no MEINCLUA e n&atilde;o nos responsabilizamos pelo conte&uacute;do ou as informa&ccedil;&otilde;es que os usu&aacute;rios transmitem no MEINCLUA.</p>
<p>N&atilde;o nos responsabilizamos por qualquer conte&uacute;do ou informa&ccedil;&otilde;es inadequados, ilegais ou question&aacute;veis que voc&ecirc; possa encontrar no MEINCLUA. N&atilde;o nos responsabilizamos pela conduta, online ou offline, de qualquer usu&aacute;rio do MEINCLUA.</p>
<p>10.2 N&Oacute;S TENTAMOS MANTER O MEINCLUA EM FUNCIONAMENTO, SEGURO E LIVRE DE ERROS, MAS VOC&Ecirc; O USA POR SUA CONTA E RISCO. N&Oacute;S FORNECEMOS O MEINCLUA NO ESTADO EM QUE SE ENCONTRA, SEM GARANTIAS EXPRESSAS OU IMPL&Iacute;CITAS, INCLUINDO, SEM LIMITA&Ccedil;&Atilde;O, GARANTIAS IMPL&Iacute;CITAS DE COMERCIALIZA&Ccedil;&Atilde;O, ADEQUA&Ccedil;&Atilde;O A UMA FINALIDADE ESPEC&Iacute;FICA E N&Atilde;O INFRA&Ccedil;&Atilde;O. N&Atilde;O GARANTIMOS QUE O MEINCLUA SER&Aacute; SEMPRE SEGURO, PROTEGIDO, SEM ERROS, NEM QUE O MEINCLUA SEMPRE FUNCIONAR&Aacute; SEM INTERRUP&Ccedil;&Otilde;ES, ATRASOS OU IMPERFEI&Ccedil;&Otilde;ES.<br />O MEINCLUA N&Atilde;O SE RESPONSABILIZA POR A&Ccedil;&Otilde;ES, CONTE&Uacute;DO, INFORMA&Ccedil;&Otilde;ES OU DADOS DE TERCEIROS, E VOC&Ecirc; NOS ISENTA, A NOSSOS DIRETORES, EXECUTIVOS, FUNCION&Aacute;RIOS E AGENTES DE QUALQUER RECLAMA&Ccedil;&Atilde;O OU DANOS, CONHECIDOS E DESCONHECIDOS, DECORRENTES DE OU RELACIONADOS DE QUALQUER FORMA A QUALQUER RECLAMA&Ccedil;&Atilde;O QUE VOC&Ecirc; TENHA CONTRA TERCEIROS.</p>
<p><br />11. Defini&ccedil;&otilde;es</p>
<p>11.1 Os termos "MEINCLUA" abrange os recursos que disponibilizamos, atrav&eacute;s de nossa rede www.MEINCLUA.com. O MEINCLUA se reserva o direito de definir, a seu crit&eacute;rio, quais escolas, usu&aacute;rios, localiza&ccedil;&otilde;es, mensagens e outros recursos s&atilde;o regidos por termos separados.</p>
<p>11.2 A rede envolve um conjunto de APIs e servi&ccedil;os (como conte&uacute;do) que permitem que outras pessoas, inclusive desenvolvedores de aplicativos e operadores de sites, recuperem dados do MEINCLUA ou forne&ccedil;am dados para n&oacute;s.</p>
<p>11.3 O termo "informa&ccedil;&otilde;es" envolve fatos e outras informa&ccedil;&otilde;es sobre voc&ecirc;, incluindo as a&ccedil;&otilde;es executadas por usu&aacute;rios e n&atilde;o usu&aacute;rios que interagem com o MEINCLUA.</p>
<p>11.4 O termo "conte&uacute;do" envolve tudo que voc&ecirc; ou outros usu&aacute;rios, fornecem ou transmitem usando a rede MEINCLUA.</p>
<p>11.5 O termo "publicar" envolve publicar ou disponibilizar conte&uacute;dos usando o MEINCLUA.</p>
<p>&nbsp;</p>
<p>12. Outros</p>
<p>12.1 Se voc&ecirc; &eacute; um residente de ou tem seu principal local de neg&oacute;cios no Brasil, esta Declara&ccedil;&atilde;o &eacute; um contrato entre voc&ecirc; e o MEINCLUA.</p>
<p>12.2 Esta Declara&ccedil;&atilde;o comp&otilde;e todo o acordo entre as partes em rela&ccedil;&atilde;o ao MEINCLUA.</p>
<p>12.3 Se n&oacute;s falharmos em impor qualquer parte desta Declara&ccedil;&atilde;o, isso n&atilde;o ser&aacute; considerado como abdica&ccedil;&atilde;o de direitos.</p>
<p>12.4 As corre&ccedil;&otilde;es ou abdica&ccedil;&otilde;es de direitos desta Declara&ccedil;&atilde;o devem ser efetuadas por escrito e assinadas por n&oacute;s.</p>
<p>12.5 Voc&ecirc; n&atilde;o deve transferir seus direitos nem obriga&ccedil;&otilde;es sob esta Declara&ccedil;&atilde;o para qualquer outra pessoa sem nosso consentimento.</p>
<p>12.6 Todos os nossos direitos e obriga&ccedil;&otilde;es sob esta Declara&ccedil;&atilde;o s&atilde;o livremente atribu&iacute;dos por n&oacute;s em rela&ccedil;&atilde;o a fus&otilde;es, aquisi&ccedil;&otilde;es, imposi&ccedil;&atilde;o legal ou outro fator.</p>
<p>12.7 Esta Declara&ccedil;&atilde;o n&atilde;o confere direitos que beneficiam terceiros.</p>
<p>12.8 Voc&ecirc; deve obedecer a todas as leis aplic&aacute;veis quando estiver usando ou acessando o MEINCLUA.</p>
<p>Se os termos n&atilde;o estiverem dispon&iacute;veis no idioma selecionado, ser&aacute; exibida, por padr&atilde;o, a vers&atilde;o em portugu&ecirc;s.</p>
<p>&nbsp;</p>

  </div>

  <footer>
    <center><p>&copy; My App Leandro Oliveira 2018</p></center>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
