<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/esqueceu_senha.css">
  <title>MeInclua</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand h1 mb-0" href="/"><img alt="Brand" src="css/Logo.png" width="170"/><label class= "labelmeinclua">Rede colaborativa</label></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Busca<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/contato">Contato</a>
        <a class="nav-item nav-link" href="/parceiros">Parceiros</a>
        <a class="nav-item nav-link" href="/sobre">Sobre</a>
        <a class="navbar-brand h1 mb-0 nav-item nav-link active" href="/termos_condicoes">Termos e condições</a>
        <a class="nav-item nav-link " href="/central_de_ajuda">Central de Ajuda</a>
        <pre>
        </pre>
        <pre>
        </pre>
        <p class="navbar-text navbar-right"><a href="/cadastrar_editar" class="navbar-link">Cadastrar/Editar</a></p>
        <pre>
        </pre>
        <p class="navbar-text navbar-right"><a href="/login" class="navbar-link">Login</a></p>
      </div>
    </div>
  </nav>
  <div class="bg">
<div class="container1">
  <center><h1>Termos e condições</h1></center>
</div>
         <br></br>


         <!-- Formulário -->
         <div class="container">
           <form action="action_page.php">
               <br><label><center>Data da última revisão: 30 de Abril de 2018
         <br>Declaração de Direitos e Responsabilidades</br>
         <br>Esta declaração de direitos e responsabilidades ("Declaração," "Termos," ou "DDR") é baseada nos princípios do MEINCLUA e representa os termos de serviço que regem nosso relacionamento com os usuários e outras pessoas que interagem com o MEINCLUA. Ao usar ou acessar os Serviços do MEINCLUA, você concorda com esta declaração, conforme atualizada periodicamente. Adicionalmente, você pode encontrar recursos na aba "Sobre" que o ajudarão a entender como o MEINCLUA funciona.</center></br>
         <center><br><u>1.	Privacidade</u></br></center>

         <center><br><u>Sua privacidade é muito importante para nós.</u></br></center>
         <center><br><u>O que você faz e as informações que fornece.</u></br></center>
         <br>Coletamos o conteúdo e outras informações fornecidas por você quando usa nossos Serviços, como quando se cadastra em uma conta. Isso pode incluir informações presentes no conteúdo ou a respeito dele, como a localização ou a data em que um arquivo foi criado. Também coletamos informações sobre como você usa nosso serviço.</br>
         <center><br><u>O que os outros fazem e as informações que fornecem.</u></br></center>
         <br>Também coletamos conteúdos e informações fornecidas por outras pessoas durante o uso do nosso serviço, incluindo informações sobre você, por exemplo, quando elas compartilham informações de contato.</br>

         <center><br><u>2.	Conteúdo e informações</u></br></center>

         <center><br><u>Você é proprietário de todo o conteúdo e informações que publica no MEINCLUA:</u></br></center>
         <br>2.1	Para conteúdo protegido por leis de direitos de propriedade intelectual (conteúdo IP), você nos concede especificamente a seguinte permissão que nos concede uma licença global não exclusiva, transferível, livre de royalties para usar qualquer conteúdo IP publicado por você ou associado ao MEINCLUA (Licença IP).</br>
         <br>2.2	Quando você exclui um conteúdo IP, ele é removido de maneira similar ao esvaziamento da lixeira do computador. No entanto, entenda que o conteúdo removido pode permanecer em cópias de backup por um período razoável (mas não estará disponível para outros).</br>
         <br>2.3	Seu feedback ou outras sugestões sobre o MEINCLUA são sempre bem-vindos, mas entenda que podemos usar esse feedback ou sugestões sem qualquer obrigação de o compensar.</br>

         <center><br><u>3.	Segurança</u></br></center>

         <center><br><u>Fazemos o possível para manter o MEINCLUA seguro, mas não podemos garantir isso.</u></br><br><u>Precisamos da sua ajuda para manter o MEINCLUA seguro, o que inclui os seguintes compromissos de sua parte:</u></br></center>
         <br>3.1	Você não publicará comunicações comerciais não autorizadas (como spam) no MEINCLUA.</br>
         <br>3.2	Você não coletará conteúdo ou informações de usuários, ou acessará o MEINCLUA usando meios automatizados (como bots de coleta, robôs, spiders ou scrapers) sem nossa permissão prévia.</br>
         <br>3.3	Você não fará parte de marketing multinível ilegal, como um esquema de pirâmide, no MEINCLUA.</br>
         <br>3.4	Você não solicitará informações de login, nem acessará uma conta que pertença a outra pessoa.</br>
         <br>3.5	Você não irá intimidar, qualquer usuário ou escola.</br>
         <br>3.6	Você não publicará conteúdo que contenha discurso de ódio, seja ameaçador ou pornográfico; incite violência; ou contenha nudez ou violência gratuita ou gráfica.</br>
         <br>3.7	Você não irá desenvolver nem operar um aplicativo de terceiros com conteúdo relacionado a álcool, encontros ou outro conteúdo adulto (incluindo anúncios) sem as restrições apropriadas com base em idade.</br>
         <br>3.8	Você não usará o MEINCLUA para praticar qualquer ato ilegal, equivocado, malicioso ou discriminatório.</br>
         <br>3.9	Você não fará nada que possa desativar, sobrecarregar ou impedir a aparência ou o funcionamento adequado do MEINCLUA, como um ataque de negação de serviço ou interferência no processamento da página ou de outra funcionalidade do MEINCLUA.</br>
         <br>3.10	Você não facilitará nem incentivará a violação desta Declaração ou de nossas políticas.</br>

         <center><br><u>4.	Registro e segurança da conta</u></br></center>

         <center><br><u>Os usuários do MEINCLUA fornecem seus nomes e informações reais e precisamos da sua ajuda para que isso continue assim.</u></br><br><u>Veja a seguir alguns compromissos que você firma conosco em relação ao registro e à manutenção da segurança de sua conta:</u></br></center>
         <br>4.1	Você não fornecerá qualquer informação pessoal falsa no MEINCLUA, nem criará uma conta para qualquer outra pessoa além de você sem permissão.</br>
         <br>4.2	Você não criará mais de uma conta pessoal.</br>
         <br>4.3	Se desativarmos sua conta, você não deverá criar outra sem nossa permissão.</br>
         <br>4.4	Você não usará o MEINCLUA se for menor de 13 anos.</br>
         <br>4.5	Você não usará o MEINCLUA se for um criminoso sexual condenado.</br>
         <br>4.6	Você manterá suas informações de contato precisas e atualizadas.</br>
         <br>4.7	Você não compartilhará sua senha (ou, no caso de desenvolvedores, sua chave secreta), deixará outra pessoa acessar sua conta ou praticará qualquer ato que possa comprometer a segurança de sua conta.</br>
         <br>4.8	Você não transferirá sua conta (incluindo qualquer Página ou aplicativo administrado por você) para ninguém sem primeiro obter nossa permissão por escrito.</br>
         <br>4.9	Se você selecionar um nome de usuário ou identificador similar para sua conta, nós nos reservaremos o direito de remover ou recuperar este nome ou identificador se considerarmos adequado (por exemplo, quando um proprietário de uma escola reivindicar um nome de usuário que não tem qualquer relação com o nome real do usuário).</br>

         <center><br><u>5.	Proteção dos direitos de outras pessoas</u></br></center>

         <center><br><u>Nós respeitamos os direitos de outras pessoas e esperamos que você faça o mesmo.</u></br></center>
         <br>5.1	Você não publicará conteúdo ou praticará qualquer ato no MEINCLUA que infrinja ou viole os direitos de terceiros ou a lei.</br>
         <br>5.2	Nós podemos remover qualquer conteúdo ou informação publicada por você no MEINCLUA se julgarmos que isso viola esta declaração ou nossas políticas.</br>
         <br>5.3	Nós fornecemos a você ferramentas para ajudá-lo a proteger seus direitos de propriedade intelectual.</br>
         <br>5.4	Se removermos seu conteúdo por infringir os direitos autorais de alguém e você acreditar que o removemos por engano, lhe daremos a oportunidade de recorrer.</br>
         <br>5.5	Se você violar repetidamente os direitos de propriedade intelectual de terceiros, desativaremos sua conta quando apropriado.</br>
         <br>5.6	Você não usará nossos direitos autorais, marcas comerciais ou quaisquer marcas semelhantes que possam causar confusão, exceto conforme expressamente autorização prévia por escrito.</br>
         <br>5.7	Se coletar informações dos usuários, você deverá: obter o consentimento deles, deixar claro que é você (e não o MEINCLUA) quem está coletando as informações e publicar uma política de privacidade explicando quais informações serão coletadas e como elas serão usadas.</br>
         <br>5.8	Você não deve publicar documentos de identificação ou informações financeiras confidenciais de terceiros no MEINCLUA.</br>

         <center><br><u>6.	Disposições especiais aplicáveis a desenvolvedores/operadores de aplicativos e sites</u></br></center>

         <br>Se você é um desenvolvedor ou operador de um aplicativo ou site da Plataforma, deve estar em conformidade com os termos do MEINCLUA</br>
         <center><br><u>7.	Sobre anúncios e outro conteúdo comercial fornecido ou aprimorado pelo MEINCLUA</u></br></center>

         <center><br><u>Nosso objetivo é fornecer publicidade e outro conteúdo comercial ou patrocinado de valor para nossos usuários e anunciantes. Para nos ajudar nesse aspecto, você concorda com os termos a seguir.</u></br></center>
         <br>7.1	Você nos concede permissão para usar seu nome, imagem do perfil, conteúdos e informações relacionadas a conteúdos comerciais, patrocinados ou relacionados (como uma marca que você curtiu) fornecido ou aperfeiçoado por nós. Isto significa, por exemplo, que você permite que uma empresa ou outra entidade nos pague para exibir seu nome e/ou foto do perfil com seu conteúdo ou informações sem receber qualquer compensação por isso. Se você tiver selecionado um público específico para seu</br> conteúdo ou informações, respeitaremos sua escolha ao usar esses dados.</br>
         <br>7.2	Não forneceremos seu conteúdo ou informações a anunciantes sem seu consentimento.</br>
         <br>7.3	Você entende que serviços pagos e comunicações relacionadas nem sempre serão identificados por nós.</br>

         <center><br><u>8.	Disposições especiais aplicáveis às Páginas</u></br></center>

         <br>Se você criar ou administrar uma página no MEINCLUA ou veicular uma promoção ou uma oferta por meio de sua Página, você concorda com nossos Termos</br>
         <center><br><u>9.	Disposições especiais aplicáveis a software</u></br></center>
         <br>9.1	Se você baixar ou usar o nosso software como um produto dBe software autônomo, um aplicativo ou um plug-in para navegador, você concorda que o software poderá baixar e instalar atualizações e recursos adicionais periodicamente de forma a aprimorá-lo ou desenvolvê-lo.</br>
         <br>9.2	Você não tentará modificar, criar trabalhos derivados de descompilar ou extrair código fonte, a menos que expressamente autorizado sob licença de open source ou que essa permissão expressa tenha sido fornecida por nós.</br>

         <center><br><u>10.	Alterações</u></br></center>
         <br>10.1	Notificaremos você antes de fazer alterações nestes termos e lhe daremos a oportunidade de analisar e comentar os termos revisados antes de continuar a usar nosso serviço.</br>
         <br>10.2	Se fizermos alterações em políticas, diretrizes ou outros termos mencionados ou incorporados nesta Declaração, poderemos apresentar um aviso na página.</br>
         <br>10.3	Se você continuar a usar o serviço do MEINCLUA depois do aviso de alterações em nossos termos, isso constituirá sua aceitação dos termos.</br>

         <center><br><u>11.	Rescisão</u></br></center>
         <br></br>
         Se você violar o texto ou a essência desta Declaração, ou gerar risco ou possível exposição legal para nós, podemos deixar de fornecer todo ou parte do MEINCLUA para você. Notificaremos você por e-mail ou na próxima vez que você tentar acessar sua conta.</br>

         <center><br><u>12.	Contestações</u></br></center>
         <br>12.1	Se alguém fizer uma alegação contra nós em relação a suas ações, conteúdo ou informações no MEINCLUA, você nos isentará da responsabilidade sobre todos os danos, perdas e despesas de qualquer espécie (incluindo os custos judiciais aplicáveis) em relação a essa alegação. Mesmo estabelecendo regras de conduta para os usuários, não controlamos nem orientamos as ações dos usuários no MEINCLUA e não nos responsabilizamos pelo conteúdo ou as informações que os usuários transmitem no MEINCLUA.</br>
         <br>Não nos responsabilizamos por qualquer conteúdo ou informações ofensivos, inadequados, obscenos, ilegais ou questionáveis que você possa encontrar no MEINCLUA. Não nos responsabilizamos pela conduta, online ou offline, de qualquer usuário do MEINCLUA.</br>
         <br>12.2	NÓS TENTAMOS MANTER O MEINCLUA EM FUNCIONAMENTO, SEGURO E LIVRE DE ERROS, MAS VOCÊ O USA POR SUA CONTA E RISCO. NÓS FORNECEMOS O MEINCLUA NO ESTADO EM QUE SE ENCONTRA, SEM GARANTIAS EXPRESSAS OU IMPLÍCITAS, INCLUINDO, SEM LIMITAÇÃO, GARANTIAS IMPLÍCITAS DE COMERCIALIZAÇÃO, ADEQUAÇÃO A UMA FINALIDADE ESPECÍFICA E NÃO INFRAÇÃO. NÃO GARANTIMOS QUE O MEINCLUA SERÁ SEMPRE SEGURO, PROTEGIDO, SEM ERROS, NEM QUE O MEINCLUA SEMPRE FUNCIONARÁ SEM INTERRUPÇÕES, ATRASOS OU IMPERFEIÇÕES. O MEINCLUA</br>
         <br>NÃO SE RESPONSABILIZA POR AÇÕES, CONTEÚDO, INFORMAÇÕES OU DADOS DE TERCEIROS, E VOCÊ NOS ISENTA, A NOSSOS DIRETORES, EXECUTIVOS, FUNCIONÁRIOS E AGENTES DE QUALQUER RECLAMAÇÃO OU DANOS, CONHECIDOS E DESCONHECIDOS, DECORRENTES DE OU RELACIONADOS DE QUALQUER FORMA A QUALQUER RECLAMAÇÃO QUE VOCÊ TENHA CONTRA TERCEIROS.</br>

         <center><br><u>13.	Definições</u></br></center>
         <br>131	Os termos "MEINCLUA" ou "Serviço do MEINCLUA" abrange os recursos e serviço que disponibilizamos, inclusive através de (a) nosso site www.MEINCLUA.com e qualquer outro site da marca MEINCLUA. O MEINCLUA se reserva o direito de definir, a seu critério, quais marcas, produtos ou serviços são regidos por termos separados.</br>
         <br>13.2	O termo "Plataforma" envolve um conjunto de APIs e serviços (como conteúdo) que permitem que outras pessoas, inclusive desenvolvedores de aplicativos e operadores de sites, recuperem dados do MEINCLUA ou forneçam dados para nós.</br>
         <br>13.3	O termo "informações" envolve fatos e outras informações sobre você, incluindo as ações executadas por usuários e não usuários que interagem com o MEINCLUA.</br>
         <br>13.4	O termo "conteúdo" envolve tudo que você ou outros usuários, fornecem ou transmitem usando os Serviços do MEINCLUA.</br>
         <br>13.5	O termo "dados" ou "dados do usuário" envolve qualquer dado, incluindo conteúdo ou informações de um usuário que você ou terceiros possam obter do MEINCLUA ou fornecer ao MEINCLUA pela plataforma.</br>
         <br>13.6	O termo "publicar" envolve publicar ou disponibilizar conteúdos usando o MEINCLUA.</br>
         <br>13.7	O termo "uso" significa usar, executar, copiar, agir ou expor publicamente, distribuir, modificar, traduzir e criar trabalhos derivados.</br>

         <center><br><u>14.	Outros</u></br></center>
         <br>14.1	Se você é um residente de ou tem seu principal local de negócios no Brasil, esta Declaração é um contrato entre você e o MEINCLUA.</br>
         <br>14.2	Esta Declaração compõe todo o acordo entre as partes em relação ao MEINCLUA e tem precedência sobre acordos anteriores.</br>
         <br>14.3	Se qualquer parte desta Declaração for considerada inexequível, a parte restante permanecerá em plena vigência.</br>
         <br>14.4	Se nós falharmos em impor qualquer parte desta Declaração, isso não será considerado como abdicação de direitos.</br>
         <br>14.5	As correções ou abdicações de direitos desta Declaração devem ser efetuadas por escrito e assinadas por nós.</br>
         <br>14.6	Você não deve transferir seus direitos nem obrigações sob esta Declaração para qualquer outra pessoa sem nosso consentimento.</br>
         <br>14.7	Todos os nossos direitos e obrigações sob esta Declaração são livremente atribuídos por nós em relação a fusões, aquisições, vendas de bens, imposição legal ou outro fator.</br>
         <br>14.8	Nada nesta Declaração nos impedirá de cumprir a lei.</br>
         <br>14.9	Esta Declaração não confere direitos que beneficiam terceiros.</br>
         <br>14.10	Nós nos reservamos todos os direitos não expressamente concedidos a você.</br>
         <br>14.11	Você deve obedecer a todas as leis aplicáveis quando estiver usando ou acessando o MEINCLUA.</br>
         <br>Se os termos não estiverem disponíveis no idioma selecionado, será exibida, por padrão, a versão em português.</br>
         </label></br>
<br></br>
  <center><label class=labelcont><input type="checkbox" checked="checked" name="sameadr">Concordo</label></center>
</label>
<br></br>
<center><input type="submit" value="Concordo" class="btn"></center></center>
</form>
</div>
<!-- Formulário -->
  <footer>
    <center><p>&copy; My App Leandro Oliveira 2018</p></center>
  </footer>
 </div> <!-- /container -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
